<%- include('../partials/header') %>

    <h1>Add A Route</h1>

    <form method="post" action="/routes/all">

        <div class="form-group">
            <label>Route Name: </label>
            <input type="text" name="routeName">
        </div>

        <br>

        <div class="form-group">
            <label>Distance (km): </label>
            <input type="number" name="distance">
        </div>

        <br>

        <div class="form-group">
            <label>Elevation (m): </label>
            <input type="number" name="elevation">
        </div>

        <br>

        <div class="form-group">
            <label>Time it takes (min): </label>
            <input type="number" name="timeItTakes">
        </div>

        <br>

        <div class="form-group">
            <label>Starting Adress: </label>
            <input type="text" name="sAddress">
        </div>

        <br>

        <div class="form-group">
            <label>Finishing Adress: </label>
            <input type="text" name="fAddress">
        </div>
        <br>



        <button type="submit">Create Route</button>


    </form>

<%- include('../partials/footer') %>