body{
    background-image: url(../imgs/loading.webp);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    background-position: 0px 0px;

    
}
@media only screen and (min-width:1300px){
    body{
        background-position: 0px -350px;
    }
}
